body, select {
    font:12pt helvetica;
    margin:0;
}

#header {
    font:bold 300% Garamond;
    font-variant:small-caps;
    text-align:center;
    background:#080;
    color:#fff;
    padding:.25em;
}

/* Board Style */

#board {
    margin-bottom:1em;
    border:3px solid #555;
    box-shadow: 10px 10px 25px #888;
}

#board tr td {
    width:64px;
    height:64px;
}

.dark {
    background-color:#bbb;
}

.light {
    background-color:#eee;
}

#board_block {
    position:absolute;
    top:128px;
    right:64px;
}

#board_container {
}

#solutions_container button {
    font:bold 12pt arial;
    padding:.25em;
    width:5em;
}

#controls_container {
    position:absolute;
    top:128px;
    left:64px;
    padding:1em;
    box-shadow: 10px 10px 25px #888;
}

#controls_container table {
    margin-bottom:1em;
}

#controls_container table tr td {
    padding:.5em;
}

#controls_container table tr td:last-child {
    border-left:2px dashed #888;
}

table {
    border-spacing:0;
    border-collapse:collapse;
}

#board.smaller tr td {
    width:32;
    height:32;
}

table.smaller .queen {
    background-image:url(smaller_queen.png);
}


.queen {
    background-image:url(queen.png);
    background-repeat:no-repeat;
    background-position:center center;
}

.hidden {
    display:none;
}

#progress {
    color:#0a0;
    font-weight:bold;
    font-size:150%;
}

.tooltip {
    cursor:pointer;
}

a {
    text-decoration:none;
    color:#f00;
}

button {
    padding:1em;
    width:100%;
}
